@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-principal : #060606;
    --fonte-principal : 'Inter';
}


body, html {
    max-width: 100vw;
    width: 100%;
    height: fit-content;
}

/* cabeçalho */

header {
    height: 70px;
    width: 100%;
    max-width: 100vw;
    background-color: var(--cor-principal);
    color: white;
    font-size: 50px;
    padding-left: 216px;
}

/* //--- cabeçalho ---// */

/* corpo */

main {
    display: flex;
    flex-direction: column;
    gap: 70px;
    height: fit-content;
    width: 100%;
    max-width: 100vw;
    background-color: var(--cor-principal);
    padding: 70px 0px;
}

/* principal */

    #principal {
        width: 100%;
        height: fit-content;
    }

    #logonome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 46px;
        padding: 40px 0px;
    }

    #logo-logonome img {
        height: 500px;
        filter: contrast(0);
    }

    #text-logonome {
        color: white;
    }

    #text-logonome h1 {
        font-size: 75px;
        font-family: var(--fonte-principal);
        font-weight: 100;
    }

    #arrow-logonome {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: 100%;
    }

    #arrow-logonome img {
        height: 33px;
        filter: contrast(50%);
        cursor: pointer;
        bottom: 0px;
        position: relative;
        transition: 2s;
    }

    #arrow-logonome img:hover{
        position: relative;
        bottom: -20px;
        transition: 2s;
    }

/* //--- principal ---// */

/* sobremim */

    #sobremim {
        height: fit-content;
        width: 100px;
    }

    #container-sobremim {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0px;
        gap: 120px;
    }

    #img-sobremim img {
        height: 740px;
    }

    #text-sobremim {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 80px;
        justify-content: center;
        align-items: center;
    }

    #text-sobremim h1 {
        font-family: var(--fonte-principal);
        font-weight: 100;
        font-size: 72px;
    }

    #parag-sobremim {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    #parag-sobremim p {
        font-family: var(--fonte-principal);
        font-weight: 300;
        font-size: 30px;
        width: 803px;
        filter: opacity(60%);
    }

    #text-sobremim button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 368px;
        background-color: #131313;
        color: white;
        font-size: 35px;
        border: none;
        padding: 10px 0px;
        cursor: pointer;
    }
/* //--- sobremim ---// */

/* trabalhos */

    #trabalhos {
        height: fit-content;
        width: 100%;
    }   

    #container-trabalhos {
        display: flex;
        flex-direction: column;
        gap: 60px;
        justify-content: center;
        align-items: center;
        padding: 70px 0px;
    }    

    #text-trabalhos h1 {
        font-family: var(--fonte-principal);
        font-weight: 100;
        font-size: 72px;
        color: white;
    }

    #img-trabalhos {
        height: 640px;
        width: 960px;
        background-color: #131313;
    }

/* //--- trabalhos ---// */

/* Habilidades */

#habilidades {
    height: fit-content;
    width: 100%;
}

#container-habilidades {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

#text-habilidades h1{
    font-size: 72px;
    font-weight: 100;
    font-family: var(--fonte-principal);
    color: white;
}

#img-habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 120px;
    row-gap: 60px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.skill img{
    height: 150px;
    filter: saturate(0);
    transition: .6s;
}

.skill p {
    opacity: 0;
    color: white;
    font-size: 30px;
    font-family: var(--fonte-principal);
    font-weight: 700;
    transition: .6s;
}

.skill:hover img {
    filter: saturate(70%);
    transition: .6s;
}

.skill:hover p {
    opacity: 1;
    transition: .6s;
}

/* //--- Habilidades ---// */


/* footer */

footer {
    display: flex;
    justify-content: space-between;
    height: 140px;
    align-items: center;
    padding: 0px 216px;
}

#logo-footer img {
    height: 109px;
}

#infos {
    display: flex;
    gap: 192px;
}

#contatos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#contatos h1 {
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 32px;
}

#text-contatos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 30%;
}

#sociais {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sociais h1 {
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 32px;
}

#text-social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
    row-gap: 5px;
    opacity: 30%;
}

.redes-sociais {
    display: flex;
    gap: 3px;
}

/* //--- footer ---// */

/* //--- corpo ---// */




